page-app {
    .menu-content{
        background: #FFFFFF;
    }

    .list-menu{
        background: none;
        margin: 2px;
        font-size: 14pt;
        color: #FFFFFF;
    }

    .header-menu {
        background: linear-gradient(to bottom, #333333, #dd1818);
        width: auto;
        height: 250px;
    }

    .user-avatar {
        border-radius: 50%;
        width: 120px; height: 120px;
        display: block;
        margin-left: auto; margin-right: auto;
        border: 4px solid rgba(255, 255, 255, 0.4);
    }

    .wrapper-menu{
        background: linear-gradient(to right, #232526, #414345);
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -50px;
        border-radius: 10px;
        box-shadow: 0 0 3px rgb(100, 95, 95), 0 0 5px rgb(36, 36, 39);
    }

    .logout-btn {
        float: right;
    }
}